.App{
    &__Container{
        background-color: blanchedalmond;
        width: 98vw;
        margin: 0 auto;
        padding-left: 3%;
        padding-right: 3%;
    }
    &__buttonDiv{
        width: 100%;
        margin: 0 25%;
    }
    &__button{
        width: 50%;
        margin: 15px 0;
    }
}