.App{
    &__Container{
        background-color: blanchedalmond;
        width: 98vw;
        margin: 0 auto;
        padding: 3.5%;
    }
    &__buttonDiv{
        width: 100%;
        margin: 0 25%;
    }
    &__button{
        width: 50%;
        margin: 15px 0;
    }
    &__sub{
        font-weight: bold;
        color: blue;
        margin-bottom: 0px !important;
    }
}