.page{
    &__btn{
        margin: 0 3px;
    }
    &__ContainerMargin{
        margin: 20px;
    }
    &__ListMergin{
        margin: 0 5px;
    }
    &__hide{
        @media(max-width:500px){
            display: none !important;
        }
    }
    &__page{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}