.Users {
    &__column {
        display: flex;
        align-items: stretch;
    }

    &__card {
        display: flex;
        // Stretch to fit column width
        width: 100%;
        // Ensure .card-content stretches to fit width
        align-items: stretch;
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        // Stretch to fit column width
        width: 100%;
        padding: 1.5rem;
    }

    &__user {
        margin: 10px auto;
    }

    &__userImage {
        margin: 0 auto;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
}
